<ion-header [translucent]="true"  >
  <ion-toolbar>
    <ion-title>
<ion-label>Tablero</ion-label> <br>


    </ion-title>
  </ion-toolbar>
</ion-header>




<!---Baglogs-->
<ion-content ion-padding class="body"     >

<ion-grid>
  <ion-row>

    <ion-col  size="12"
>
      <div>

        <ion-card-content>
          <ion-card>
            <ion-card-header padding>
<ion-item>
  <ion-input  [(ngModel)]="suerte"  (keyup.enter)="add()"  placeholder="Ingresar tarea " type="text"  class="form-control form-control-lg text-center" ></ion-input>
</ion-item>





      </ion-card-header>
          </ion-card>
          </ion-card-content>
</div>

    </ion-col>

</ion-row>
</ion-grid>
</ion-content>



<!---Hacer-->


<ion-content>
  <ion-slides>
    <ion-grid class="columnas">
      <ion-row>

<ion-slide>

<ion-col col-3>
  <div class="titulo">

  <h2>Tareas</h2>
  <div
  cdkDropList
  [cdkDropListData]="objetivos"
  class="example-list" id="listauno"
  (cdkDropListDropped)="drop($event)"  [cdkDropListConnectedTo]="['listados']"     >
  <div class="example-box" *ngFor="let item of objetivos; let i = index" cdkDrag>{{item}}

    <!----botonborrAR-->
<div>

    <ion-button (click)="borrar(i)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>

<!-----botoneditar-->
    <ion-button (click)="detalle(i)">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>







  </div>


    </div>
  </div>
</div>



</ion-col>
</ion-slide>
<!---En Progreso-->
<ion-slide>
    <ion-col col-6>
      <div class="titulo">
        <h2>En Progreso</h2>
      <div
      cdkDropList
      [cdkDropListData]="encurso"
      class="example-list"  id="listados"
      (cdkDropListDropped)="drop($event)"  [cdkDropListConnectedTo]="['listatres','listauno']"    >
      <div class="example-box" *ngFor="let item of encurso; let i = index" cdkDrag>{{item}}
        <div class="box">
          <ion-button (click)="errase(i)" color="warning">
            <ion-icon  name="trash-outline"></ion-icon>
          </ion-button>
           </div>


      </div>
    </div>
      </div>
    </ion-col>

</ion-slide>
<!---exo-->

<ion-slide>
<ion-col col-6>
  <div class="titulo">
    <h2>Finalizado</h2>
  <div
  cdkDropList
  [cdkDropListData]="finalizado"
  class="example-list" id="listatres"
  (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="['listados']"     >
  <div class="example-box" *ngFor="let item of finalizado; let i = index"  cdkDrag>{{item}}


       <div class="box">
        <ion-button (click)="borrarfinal(i)" color="success">
          <ion-icon  name="checkmark-circle-outline"></ion-icon>
        </ion-button>
         </div>


  </div>
</div>

  </div>

</ion-col>

</ion-slide>
</ion-row>


</ion-grid>

  </ion-slides>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>


